<% require "razorpay" %>
<% Razorpay.setup('rzp_test_2M1ZATQsmmZvpY', 'MgvyAEZ2ShGNMuWlURtTjvLJ') %>
<% @sum = 0%>
<% @carts.each do |cart| %>
  <p>
    <strong>Name:</strong>
    <%= Product.find(cart.product_id).name %>
  </p>
   <div>
   <%= image_tag(Product.find(cart.product_id).image)%>
   </div>
  <p>
    <strong>Title:</strong>
    <%= Product.find(cart.product_id).title %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= Product.find(cart.product_id).brand %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= Product.find(cart.product_id).price %>
  </p>
<div>
    <p>quantity :<%= cart.quantity %>  <%= button_to "+",  cart_add_url(cart), method: :post %>
    <%= button_to "-",  cart_reduce_url(cart), method: :post %> </p>
 </div>   
    <%= cart.totalamount %>
    <% @sum +=  cart.totalamount %> 
    <%= button_to "remove from cart", cart, method: :delete %>
<%end%>
<div>
  <strong>TotalAmount :</strong><%= @sum %>
</div>
<div>
<% if @sum > 1%>
<% order = Razorpay::Order.create amount: @sum, currency: 'INR', receipt: 'TEST' %>
<button id="rzp-button1">Pay with Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_2M1ZATQsmmZvpY", // Enter the Key ID generated from the Dashboard
    "amount": "<%= order.amount%>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "<%= order.id%>", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
<% end %>
<%= link_to "Back to products", products_path %>
</div>